<div class="row">
	<div class="col-md-4">
		<h2>Home</h2>
		<span ng-repeat="dude in home.people[0]" class="home">
			<img ng-src="{{ dude.image }}" alt="..." class="img-circle photo"> 
		</span>
	</div>
	<div class="col-md-4">
		<h2>Work</h2>
		<span ng-repeat="dude in home.people[1]" class="work">
			<img ng-src="{{ dude.image }}" alt="..." class="img-circle photo"> 
		</span>
	</div>
	<div class="col-md-4">
		<h2>Mortal Peril</h2>
		<span ng-repeat="dude in home.people[2]" class="peril">
			<img ng-src="{{ dude.image }}" alt="..." class="img-circle photo"> 
		</span>
	</div>
</div>




