<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
 
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand" >Weasley Clock</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Maps</a></li>
                  
                  </ul>
                </nav>
              </div>
            </div>

          <div class="inner cover">
            <h1 class="cover-heading">Want to know where somebody is?</h1>
            <p class="lead">Click on "update" above to see where someone is in real-time!</p>
            
          </div>

          <div class="mastfoot">
            <div class="inner">
             
            </div>
          </div>

        </div>

      </div>

    </div>